body{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

h1,h2{
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    padding: 20px;
}

.para1{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    padding: 20px;
}

.section1{
   padding: 20px;
   background-color: grey;
}

.section2 {
    background-color: lemonchiffon;
    padding: 20px;
}

p{
    padding: 20px;
}

a{
    text-decoration: none;
}

svg{
    height: 8em;
    fill: floralwhite;
}